@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html{
  background-image: url('http://androidfact.com/wp-content/uploads/2014/04/black-galaxy-s5-background.png');
}
body {
  font-family: cursive, sans-serif;
  font-size: 15px;
  
}

  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red;
    }
    

  }

  
  

  h4{
    color: lemonchiffon;
  }  
  
  h2{
    color: lemonchiffon;
    font-family: cursive, sans-serif;
  }
  h1 {
    background: url("https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif"), url("../images/nes3.gif");
    background-blend-mode: overlay, overlay;
    background-size: contain;
    background-repeat: round;
    font-size: 80px;
    color: whitesmoke;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
 
  
  #games {
    width: 70%;
  }
  
  .game-item {
    float: left;
    padding: 10px;
    color: lemonchiffon;
    font-size: 10px;
    
  }
  .game-image {
    float: left;
  }
  
  form {
    float: right;
    width: 30%;
    padding: 20px;
    
    
    
  }
  
  label {
    display: block;
    color: lemonchiffon;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S15GBCm/red-burst-vector-background-cartoon-background-with-space-for-your-logo-or-title-nice-sunburst-vintage-style-sun-retro-pattern-vector-background-seamless-loop_ewupmxr0x__F0000.png'), url('https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif');
    background-blend-mode: screen, multiply;
    
    
  }
  
  button,
  input[type="submit"] {
    padding: 5px 20px;
    margin: 0 10px 10px 0;
    font-size: 15px;
    font-family: cursive, sans-serif;
    color: lemonchiffon;
    cursor: pointer;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S15GBCm/red-burst-vector-background-cartoon-background-with-space-for-your-logo-or-title-nice-sunburst-vintage-style-sun-retro-pattern-vector-background-seamless-loop_ewupmxr0x__F0000.png');
    background-size: contain;
    border: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px white;
  }
  
  
 

  
  

  
  
  button:hover,
  input[type="submit"]:hover {
    background: url('https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif');
  }
  
  button.active {
    background: url('https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif');
  }
  button {
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S15GBCm/red-burst-vector-background-cartoon-background-with-space-for-your-logo-or-title-nice-sunburst-vintage-style-sun-retro-pattern-vector-background-seamless-loop_ewupmxr0x__F0000.png');
    background-size: contain;

  }
  #nesPic {
    width: 100%;
  }
  @media only screen and (max-width: 768px) {
    .game-item {
      display: inline-flex;
    }
    .game-button.active {
      width: 100%;
      height: 100%;
    }
    .game-button {
      width: 100%;
      height: 100%;
    }
    #game-form {
      width: 90%;
      height: 100%;
    }
  }
  