@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html{
  background-image: url('http://androidfact.com/wp-content/uploads/2014/04/black-galaxy-s5-background.png');
}
body {
  font-family: 'voltaire', cursive;
  font-size: 15px;
    
  }
  
  #games {
    width: 70%;
  }
  
  .game-item {
    float: left;
    padding: 10px;
    color: yellow;
    font-size: 10px;
  }
  .game-image {
    float: left;
  }
  
  form {
    float: right;
    width: 30%;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    
    
  }
  
  button,
  input[type="submit"] {
    padding: 5px 20px;
    margin: 0 10px 10px 0;
    font-size: 15px;
    font-family: 'voltaire', cursive;
    color: yellow;
    cursor: pointer;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S15GBCm/red-burst-vector-background-cartoon-background-with-space-for-your-logo-or-title-nice-sunburst-vintage-style-sun-retro-pattern-vector-background-seamless-loop_ewupmxr0x__F0000.png'), url('https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif');
    background-blend-mode: multiply, screen;
    border: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px white;

  }
  
  button:hover,
  input[type="submit"]:hover {
    background: url('https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif');
  }
  
  button.active {
    background: url('https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif');
  }
  button{
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S15GBCm/red-burst-vector-background-cartoon-background-with-space-for-your-logo-or-title-nice-sunburst-vintage-style-sun-retro-pattern-vector-background-seamless-loop_ewupmxr0x__F0000.png'), url('https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif');
    background-blend-mode: multiply, screen;

  }
  label{
    color: yellow;
  }
  