@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html{
  background-image: url('http://androidfact.com/wp-content/uploads/2014/04/black-galaxy-s5-background.png');
  
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-size: 10px;
  
  
}

  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red;
    }
    

  }

  
  

  h4{
    color: lemonchiffon;
  }  
  
 
    
  
  h1 {
    background: url("../images/run.gif"), url("../images/tv2.gif");
    background-blend-mode: screen, screen;
    background-size: contain, contain;
    background-repeat: space, space;
    background-position: center, right;
    /* border: solid 8px rgb(88, 25, 25); */
    font-size: 60px;
    color: whitesmoke;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
 
  
  #games {
    width: 70%;
  }
  
  .game-item {
    float: left;
    padding: 10px;
    color: lemonchiffon;
    font-size: 10px;
    
  }
  .game-image {
    float: left;
  }
  
  form {
    float: right;
    width: 30%;
    padding: 20px;
    background: url("../images/nes3.gif");
    background-size: cover;
    mix-blend-mode: color;
    background-repeat: no-repeat;
    background-position: left;
  }

  
    
  
    
     
    
    
    
  
  label {
    display: block;
    color: red;
    width: 52%;
    text-align: left;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    margin: left;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    background-position: right;
    border: solid 8px transparent;
    
  }


  
  input[type="text"] {
    width: 75%;
    height: 25px;
    color: red;
    margin-bottom: 5px;
    font-size: 18px;
    background-color: black
    /* background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S15GBCm/red-burst-vector-background-cartoon-background-with-space-for-your-logo-or-title-nice-sunburst-vintage-style-sun-retro-pattern-vector-background-seamless-loop_ewupmxr0x__F0000.png'), url('https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif'); */
    /* background-blend-mode: screen, multiply; */
    
    
  }
  
  
  input[type="submit"] {
    padding: 5px 20px;
    margin: 10px 10px 10px 0;
    font-size: 10px;
    font-family: "Press Start 2P", sans-serif;
    color: red;
    cursor: pointer;
    background: grey;
    /* background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S15GBCm/red-burst-vector-background-cartoon-background-with-space-for-your-logo-or-title-nice-sunburst-vintage-style-sun-retro-pattern-vector-background-seamless-loop_ewupmxr0x__F0000.png'); */
    /* background-size: contain; */
    border: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  
 

  
  

  
  
  button:hover,
  input[type="submit"]:hover {
    background: url('https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif');
  }
  
  button.active {
    background: url('https://realtimevfx.com/uploads/default/original/2X/e/ef3eb390b5563abf9ec7b1356fb00173b2905e56.gif');
  }
  button {
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S15GBCm/red-burst-vector-background-cartoon-background-with-space-for-your-logo-or-title-nice-sunburst-vintage-style-sun-retro-pattern-vector-background-seamless-loop_ewupmxr0x__F0000.png');
    background-size: contain;
    color: yellow;
    padding: 5px 20px;
    margin: 0 10px 10px 0;
    font-size: 10px;
    font-family: "Press Start 2P", sans-serif;
    cursor: pointer;
    border: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px whitesmoke;
    
  }
  #nesPic {
    width: 100%;
    height: 100%;
    
   }
  @media only screen and (max-width: 768px) {
    .game-item {
      display: inline-flex;
    }
    .game-button.active {
      width: 100%;
      height: 100%;
    }
    .game-button {
      width: 100%;
      height: 100%;
    }
    #game-form {
      width: 90%;
      height: 100%;
    }
    
  }
  